{% extends "base.html" %}

{% block header %}

	<link type="text/css" rel="stylesheet" href="static/css/about.css"/>

{% endblock %}

{% block content %}
	<div class="about-wrap">

		<div class="page-header">
			<h1>About the App</h1>
		</div>
		<p>Welcome to our Web Application, The Clean Sleep! This web app is designed for users to search for hotels using google maps, and then review/rate them based on cleanliness. The rating score ranges from 1 to 5.</p>
		<div class="page-header">
			<h1>About Us</h1>
		</div>
		<p>This project was created durin Hack RU Fall 2014. Developers: Robert Kim, Kenneth Rhee, Eric Kong, and Joon Lee.</p>
	</div>
{% endblock %}