{% extends "base.html" %}

{% block header %}

	<link type="text/css" rel="stylesheet" href="static/css/about.css"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">

{% endblock %}

{% block content %}
	<p>Welcome to our Web Application, The Clean Sleep! This web app is designed for users to search for hotels using google maps, and then review/rate them based on cleanliness. The rating score ranges from 1 to 5. This project was created durin Hack RU Fall 2014. Developers: Robert Kim, Kenneth Rhee, Eric Kong, Joon Lee, Sagar Garg.</p>
{% endblock %}