{% extends "base.html" %}

{% block header %}
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places'></script>
<script src='js/maps.js'></script>

<h2>WHERE ARE YOU?</h2>
<div id='map-container' style='margin: 0 auto; text-align:center; position:relatve;'>
    <i class="fa fa-2x fa-map-marker"></i>
    <input id="pac-input" name='pac-input' class="controls" type="text" placeholder="Enter Venue" data-role="none">
    <div id="map-canvas" style='display:none'></div>
</div>
{% endblock %}

{% block content %}
  <div id="map-canvas"></div>
{% endblock %}