{% extends "base.html" %}

{% block header %}
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIodKK6MCalB4e5Lr5r_bGnZO8YhdRUaY">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: { lat: -34.397, lng: 150.644},
        zoom: 8
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}

{% block content %}
  <div id="map-canvas"></div>
{% endblock %}